body {
    display: flex;
    justify-content: center;
}

.users-box {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-block {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}